<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Proveedores | Inventario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body style="background:  #C0C0C0;">
    <!--NavBar-->
    <header th:insert="fragments/navbar :: menu-principal"></header>

    <!--Mensaje de Exito-->
    <div th:if="${msgExito ne null}">
        [[${msgExito}]]
    </div>

    <section class="card mx-5 mt-4">
        <div class="card-body table-responsive">
            <h5 class="card-title">Proveedores</h5>
            <table id="datatable" class="table table-hover table-striped">
                <thead>   
                    <tr>
                        <th>ID</th>
                        <th>NombreProveedor</th>
                        <th>CategoriaProveedor</th>
                        <th>NIT</th>
                        <th>NRC</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                        <th>Calificacion</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="proveedores: ${proveedores}" th:object="${proveedores}">
                        <td th:text="${proveedores.ID}"></td>
                        <td th:text="${proveedores.NombreProveedor}"></td>
                        <td th:text="${proveedores.CategoriaProveedor}"></td>
                        <td th:text="${proveedores.NIT}"></td>
                        <td th:text="${proveedores.NRC}"></td>
                        <td th:text="${proveedores.Direccion}"></td>
                        <td th:text="${proveedores.Telefono}"></td>
                        <td th:text="${proveedores.Calificacion}"></td>
                        <td>
                            <button type="button"  class="btn btn-warning">
                                <a style="text-decoration: none; color: black;" th:href="@{/{ID}/newproveedor(ID=*{ID})}">Editar</a>
                            </button>
                            <button class="btn btn-danger">
                                <a style="text-decoration: none; color: black;" th:href="@{/{ID}/eliminar(ID=*{ID})}">Eliminar</a>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <!-- Datatable JS-->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.1/datatables.min.js"></script>

    <!-- Inicializar tabla-->
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable();
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>